<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bascula</title>
    <link rel="stylesheet" href="./bootstrap.min.css" />
  </head>
  <body>
    <main class="container-fluid p-5">
      <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
          <input
            id="input_peso"
            class="form-control form-control-lg text-center"
            type="text"
            placeholder="000000"
            value="10000" 
            aria-label=".form-control-lg example"
            disabled
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3">
            <label for="select_tipo_peso" class="form-label">Tipo de peso</label>
          <select class="form-select" id="select_tipo_peso" aria-label="Default select example">
            <option value="ENTRADA" selected>ENTRADA</option>
            <option value="SALIDA">SALIDA</option>
          </select>
        </div>
      </div>
      <div id="form_entrada" class="row justify-content-center ">
        <div class="col-6 mt-3">
          <label for="select_proveedor" class="form-label">Proveedor</label>
          <select class="form-select" id="select_proveedor" aria-label="Default select example">
           
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="select_transportista" class="form-label">Chofer</label>
          <select class="form-select" id="select_transportista" aria-label="Default select example">
           
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="select_chofer" class="form-label">Vehiculo</label>
          <select class="form-select" id="select_vehiculo" aria-label="Default select example" disabled>
           
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="select_forma_recepcion_entrada" class="form-label">Forma de Recepcion</label>
          <select class="form-select" id="select_forma_recepcion_entrada" aria-label="Default select example">
            
          </select>
        </div>
        <div class="col-12 text-center mt-4">
          <button id="boton_registrar_entrada" class="btn btn-success">
              Registrar Peso
          </button>
        </div>
      </div>
      <div id="form_salida" class="row justify-content-center mt-4 d-none">
       <div class="col-12">
         <div class="row">
          <div class="col-12 text-center">
            <button id="boton_buscarticket_salida" class="btn btn-primary">Buscar Ticket</button>
          </div>
          <div class="row bg-warning m-3 rounded">
            <div class="col-6 mt-3">
              <p class="d-inline">Nro Ticket: </p><b  class="d-inline" id="p_numero_ticket"></b>
            </div>
            <div class="col-6 mt-3">
              <p class="d-inline">Placa:</p><b class="d-inline" id="p_placa_ticket"></b>
            </div>
            <div class="col-6">
              <p class="d-inline">Chofer:</p><b class="d-inline" id="p_transportista_ticket"></b>
            </div>
            <div class="col-6">
              <p class="d-inline">Proveedor:</p><b class="d-inline" id="p_proveedor_ticket"></b>
            </div>
            <div class="col-6 mb-3">
              <p class="d-inline">Peso Entrada:</p><b class="d-inline" id="p_entrada_ticket"></b>
            </div>
            <div class="col-6 mb-3">
              <p class="d-inline">Peso Neto:</p><b class="d-inline" id="p_neto_ticket"></b>
            </div>
          </div>
          <div class="col-4 mt-2">
            <label for="select_linea" class="form-label">Linea</label>
            <select class="form-select" id="select_linea" aria-label="Default select example">
              
            </select>
          </div>
          <div class="col-4 mt-2">
            <label for="select_proceso" class="form-label">Proceso</label>
            <select class="form-select" id="select_proceso" aria-label="Default select example" disabled>
              
            </select>
          </div>
          <div class="col-4 mt-2">
            <label for="select_material" class="form-label">Material</label>
            <select class="form-select" id="select_material" aria-label="Default select example" disabled>
              
            </select>
          </div>
          <div class="col-4 mt-3">
            <label for="select_tipo_material" class="form-label">Tipo material</label>
            <select class="form-select" id="select_tipo_material" aria-label="Default select example" disabled>
              
            </select>
          </div>
          <div class="col-6 mt-3">
            <label for="select_forma_recepcion_salida" class="form-label">Forma de Recepcion</label>
            <select class="form-select" id="select_forma_recepcion_salida" aria-label="Default select example">
              
            </select>
          </div>
          <!-- <div class="col-6 mt-3">
            <label for="textarea_observacion" class="form-label">Observacion</label>
            <textarea class="form-control" id="textarea_observacion" aria-label="With textarea" rows="2" minlength="100"></textarea>
          </div> -->
          <div class="input-group mt-3">
            <input type="number" id="input_porcentaje_contaminacion" class="form-control" placeholder="Porcentaje de contaminacion" aria-label="Username">
            <span class="input-group-text">%</span>
            <input type="text" id="input_peso_contaminacion" class="form-control" placeholder="000000 Kg" aria-label="Server" disabled>
            <span class="input-group-text">Kg</span>
          </div>
          <div class="input-group mt-3">
            <select class="form-select" id="select_contaminacion" aria-label="Example select with button addon">
  
            </select>
            <button class="btn btn-outline-secondary" id="boton_contaminacion" type="button">Agregar</button>
          </div>
          <div class="col-12 m-2" id="lista_contaminacion">

          </div>
         </div>
       </div>
        <div class="col-12 text-center mt-4">
          <button id="boton_registrar_salida" class="btn btn-success">
              Registrar Peso
          </button>
        </div>
      </div>
    </main>
    <script src="./app.js"></script>
  </body>
</html>
