<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bascula</title>
    <link rel="stylesheet" href="./bootstrap.min.css" />
  </head>
  <body>
    <main class="container-fluid p-5">
      <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
          <input
            id="input_peso"
            class="form-control form-control-lg text-center"
            type="text"
            placeholder="000000000"
            aria-label=".form-control-lg example"
            disabled
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-3">
            <label for="select_tipo_peso" class="form-label">Tipo de peso</label>
          <select class="form-select" id="select_tipo_peso" aria-label="Default select example">
            <option value="0" selected>ENTRADA</option>
            <option value="1">SALIDA</option>
          </select>
        </div>
      </div>
      <div id="form_entrada" class="row justify-content-center">
        <div class="col-6">
          <label for="select_proveedor" class="form-label">Proveedor</label>
          <select class="form-select" id="select_proveedor" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="select_transportista" class="form-label">Transportista</label>
          <select class="form-select" id="select_transportista" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="select_chofer" class="form-label">Chofer</label>
          <select class="form-select" id="select_chofer" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-6 mt-3">
          <label for="textarea_observacion" class="form-label">Observacion</label>
          <textarea class="form-control" id="textarea_observacion" aria-label="With textarea" rows="2" minlength="100"></textarea>
        </div>
        <div class="col-12 text-center mt-4">
          <button id="boton_registrar" class="btn btn-success">
              Registrar Peso
          </button>
        </div>
      </div>
      <div id="form_salida" class="row justify-content-center mt-4 d-none">
       <div class="col-12 mt-4">
         <div class="row">
          <div class="col-4">
            <label for="select_linea" class="form-label">Linea</label>
            <select class="form-select" id="select_linea" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-4">
            <label for="select_material" class="form-label">Material</label>
            <select class="form-select" id="select_material" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-4">
            <label for="select_tipo_material" class="form-label">Tipo material</label>
            <select class="form-select" id="select_tipo_material" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
         </div>
       </div>
       <div class="col-12 m-3 text-center">
        <button id="boton_buscarticket_salida" class="btn btn-primary">Buscar Ticket</button>
      </div>
      <div class="col-6">
        <p class="d-inline">Nro Ticket: </p><b  class="d-inline" id="p_numero_ticket"></b>
      </div>
      <div class="col-6">
        <p class="d-inline">Placa:</p><b class="d-inline" id="p_placa_ticket"></b>
      </div>
      <div class="col-6">
        <p class="d-inline">Nombre Chofer:</p><b class="d-inline" id="p_chofer_ticket"></b>
      </div>
      <div class="col-6">
        <p class="d-inline">Proveedor/Cliente:</p><b class="d-inline" id="p_proveedor_ticket"></b>
      </div>
        <div class="col-12 text-center mt-4">
          <button id="boton_registrar_salida" class="btn btn-success">
              Registrar Peso
          </button>
        </div>
      </div>
    </main>
    <script src="./app.js"></script>
  </body>
</html>
