<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css" />
    <title>Panel De Control</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3 mt-3">
                    <span class="input-group-text" id="basic-addon1">IP DE SERVIDOR</span>
                    <input type="text" id="input_host" value="localhost" class="form-control" placeholder="192.168.35.0"
                        id="input_ip_servidor" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-select mb-3" id="select_opcion" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="USUARIO">REGISTRO DE USUARIO</option>
                    <option value="PROVEEDOR">REGISTRO DE PROVEEDOR</option>
                    <option value="TRANSPORTISTA">REGISTRO DE TRANSPORTISTA</option>
                    <option value="VEHICULO">REGISTRO DE VEHICULO</option>
                    <option value="LINEA">REGISTRO DE LINEA</option>
                    <option value="PROCESO">REGISTRO DE PROCESO</option>
                    <option value="MATERIAL">REGISTRO DE MATERIAL</option>
                    <option value="TIPO_MATERIAL">REGISTRO DE TIPO DE MATERIAL</option>
                    <option value="TIPO_VEHICULO">REGISTRO DE TIPO DE VEHICULOS</option>
                    <option value="TIPO_CONTAMINACION">REGISTRO DE TIPOS DE CONTAMINACION</option>
                    <option value="FORMA_RECEPCION">REGISTRO DE FORMAS DE RECEPCION</option>
                    <option value="EDI_TICKET_PESO">EDICION DE TICKET Y PESOS</option>
                    <option value="EDI_USUARIO">EDICION DE USUARIOS</option>
                    <option value="EDI_PROVEEDOR">EDICION DE PROVEEDOR</option>
                    <option value="EDI_TRANSPORTISTA">EDICION DE TRANSPORTISTA</option>
                    <option value="EDI_VEHICULO">EDICION DE VEHICULO</option>
                    <option value="EDI_LINEA">EDICION DE LINEA</option>
                    <option value="EDI_PROCESO">EDICION DE PROCESO</option>
                    <option value="EDI_MATERIAL">EDICION DE MATERIAL</option>
                    <option value="EDI_TIPO_MATERIAL">EDICION DE TIPO MATERIAL</option>
                    <option value="EDI_TIPO_VEHICULO">EDICION DE TIPO VEHICULO</option>
                    <option value="EDI_TIPO_CONTAMINACION">EDICION DE TIPO CONTAMINACION</option>
                    <option value="EDI_FORMA_RECEPCION">EDICION DE FORMA DE RECEPCION</option>
                </select>
            </div>
        </div>
        <div class="row d-none bg-info text-white rounded p-3 mb-2" id="form_edicion">
            <div class="col">
                <label for="inputEmail4" class="form-label" id="label_select_edicion">Proveedor</label>
                <select class="form-select" aria-label="Default select example" id="select_edicion">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="alert alert-info m-3" id="aviso" role="alert">
            Escoje una opción para habilitar el modulo correspondinte!
        </div>
        <div class="row d-none bg-primary rounded p-3 text-white" id="form_persona">
            <div class="col-12 mb-2">
                <a class="text-white" href="#" onclick="personaExistente()" id="link_form_vehiculo_tipo_vehiculo">Persona existente</a>
            </div>
            <div class="col-6 mb-2 ">
                <input type="number" id="input_form_usuario_cedula" class="form-control" placeholder="Cedula" aria-label="Cedula">
            </div>
            <div class="col-6 mb-2">
                <input type="text" id="input_form_usuario_nombres" class="form-control" placeholder="Nombres" aria-label="Nombres">
            </div>
            <div class="col-6 mb-2">
                <input type="text" id="input_form_usuario_apellidos" class="form-control" placeholder="Apellidos" aria-label="Apellidos">
            </div>
            <div class="col-6 mb-2">
                <input type="date" id="input_form_usuario_fecha_nacimiento" class="form-control" placeholder="Fecha nacimiento" aria-label="Fecha nacimiento">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Sexo</label>
                <select class="form-select" id="select_form_usuario_sexo" aria-label="Default select example">
                    <option value="" selected>Open this select menu</option>
                    <option value="MASCULINO">MASCULINO</option>
                    <option value="FEMENINO">FEMENINO</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Estado civil</label>
                <select class="form-select" id="select_form_usuario_estado_civil" aria-label="Default select example">
                    <option value="" selected>Open this select menu</option>
                    <option value="SOLTERO">SOLTERO</option>
                    <option value="CASADO">CASADO</option>
                    <option value="UNION LIBRE">UNION LIBRE</option>
                    <option value="DIVORCIADO">DIVORCIADO</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <input type="text" id="input_form_usuario_ciudadania" class="form-control" placeholder="Ciudadania" aria-label="Ciudadania">
            </div>
            <div class="col-6 mb-2">
                <input type="text" id="input_form_usuario_instruccion" class="form-control" placeholder="Instruccion" aria-label="Instruccion">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Fecha de Expedicion</label>
                <input type="date" id="input_form_usuario_fecha_expedicion" class="form-control" placeholder="Fecha Expedicion" aria-label="Fecha Expedicion">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Fecha de Expiracion</label>
                <input type="date" id="input_form_usuario_fecha_expiracion" class="form-control" placeholder="Fecha Expiracion" aria-label="Fecha Expiracion">
            </div>
            <div class="col-6 mb-2">
                <input type="text" id="input_form_usuario_lugar_expedicion" class="form-control" placeholder="Lugar Expedicion" aria-label="Lugar Expedicion">
            </div>
            <div class="col-6 mb-2">
                <select class="form-select" id="select_form_usuario_activo" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Activo</option>
                    <option value="0">No Activo</option>
                </select>
            </div>
        </div>
        <div class="row d-none bg-success rounded p-3 mt-2 mb-2 text-white" id="form_credencial">
            <div class="col-6">
                <input type="text" id="input_form_credencial_usuario" class="form-control" placeholder="Usuario" aria-label="Usuario">
            </div>
            <div class="col-6 mb-3">
                <input type="text" id="input_form_credencial_contrasena" class="form-control" placeholder="Contrasena" aria-label="Contrasena">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" onclick="registrarUsuario()" id="boton_form_credencial_registrar">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-success rounded p-3 mt-2 mb-2 text-white" id="form_proveedor">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Activo</label>
                <select class="form-select" id="select_form_proveedor_activo" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_proveedor" onclick="registrarProveedor()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-success rounded p-3 mt-2 mb-2 text-white" id="form_transportista">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Fecha de vencimiento de licencia</label>
                <input type="date" id="input_form_transportista_fecha_vencimiento" class="form-control" placeholder="Vencimiento Licencia"
                    aria-label="Vencimiento Licencia">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Activo</label>
                <select class="form-select" id="select_form_transportista_activo" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_transportista" onclick="registrarTransportista()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-warning p-3 text-white rounded" id="form_vehiculo">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Placa</label>
                <input type="text" id="input_form_vehiculo_placa" class="form-control" placeholder="Placa" aria-label="Placa">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Fecha vencimiento de matricula</label>
                <input type="date" id="input_form_vehiculo_fecha_vencimiento_matricula" class="form-control" placeholder="Vencimiento matricula"
                    aria-label="Vencimiento matricula">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Transportista</label>
                <select id="select_form_vehiculo_transportista" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
                <a class="text-none" href="#" onclick="linkTransportista()" id="link_form_vehiculo_transportista">Registrar un nuevo Transportista</a>
            </div>
            <div class="col mb-2">
                <label for="inputEmail4" class="form-label">Tipo Vehiculo</label>
                <select class="form-select" id="select_form_vehiculo_tipo_vehiculo" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
                <a href="#" onclick="linkTipoVehiculo()" id="link_form_vehiculo_tipo_vehiculo">Registrar un nuevo tipo</a>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Activo</label>
                <select class="form-select" id="select_form_vehiculo_activo" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_vehiculo" onclick="registrarVehiculo()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-dark rounded p-3 text-white" id="form_tipo_contaminacion">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Nombre contaminacion</label>
                <input type="text" id="input_form_tipo_contaminacion_nombre" class="form-control" placeholder="Nombre de Contaminacion"
                    aria-label="Nombre de Contaminacion">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_tipo_contaminacion" onclick="registrarContaminacion()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-dark rounded p-3 text-white" id="form_forma_recepcion">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Forma de Recepcion</label>
                <input type="text" id="input_form_forma_recepcion_nombre" class="form-control" placeholder="Nombre de la forma de recepcion"
                    aria-label="Nombre de la forma de recepcion">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_forma_recepcion" onclick="registrarFormaRecepcion()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-dark rounded p-3 text-white" id="form_tipo_vehiculo">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Nombre tipo de vehiculo</label>
                <input type="text" class="form-control" id="input_form_tipo_vehiculo_nombre" placeholder="Nombre Tipo Vehiculo"
                    aria-label="Nombre Tipo Vehiculo">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_tipo_vehiculo" onclick="registrarTipoVehiculo()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-dark rounded p-3 text-white" id="form_linea">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Nombre de la linea</label>
                <input type="text" class="form-control" id="input_form_linea_nombre" placeholder="Nombre de Linea" aria-label="Nombre de Linea">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_linea" onclick="registrarLinea()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-danger rounded p-3 text-white" id="form_proceso">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Nombre del proceso</label>
                <input type="text" id="input_form_proceso_nombre" class="form-control" placeholder="Nombre de Proceso" aria-label="Nombre de Proceso">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Linea</label>
                <select class="form-select" id="select_form_proceso_linea" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_proceso" onclick="registrarProceso()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-light rounded p-3" id="form_material">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Nombre del material</label>
                <input type="text" class="form-control" id="input_form_material_nombre" placeholder="Nombre de Material"
                    aria-label="Nombre de Material">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Linea</label>
                <select id="select_form_material_linea" onchange="llenarSelectProceso()" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Proceso</label>
                <select class="form-select" id="select_form_material_proceso" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_material" onclick="registrarMaterial()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-secondary rounded p-2 text-white" id="form_tipo_material">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Nombre de tipo de material</label>
                <input type="text" class="form-control" id="input_form_tipo_material_nombre" placeholder="Nombre de Tipo Material"
                    aria-label="Nombre de Tipo Material">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Linea</label>
                <select class="form-select" onchange="llenarSelectProceso()" id="select_form_tipo_material_linea" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Proceso</label>
                <select class="form-select" id="select_form_tipo_material_proceso" onchange="llenarSelectMaterial()" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Material</label>
                <select class="form-select" id="select_form_tipo_material_material" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" id="boton_form_tipo_material" onclick="registrarTipoMaterial()">Registrar</button>
            </div>
        </div>
        <div class="row d-none bg-light p-3" id="form_ticket">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Fecha de ingreso</label>
                <input type="datetime-local" class="form-control"  min="1997-01-01" max="2030-12-31" id="input_form_ticket_fecha" placeholder="Fecha de ingreso" aria-label="Fecha de ingreso">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Procesado</label>
                <select onchange="estoyFuncionando()" id="select_form_ticket_procesado" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Fecha de procesado</label>
                <input type="datetime-local" class="form-control" id="input_form_ticket_fecha_procesado" placeholder="Fecha de procesado" aria-label="Fecha de procesado">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Transportista</label>
                <select id="select_form_ticket_transportista" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Vehiculo</label>
                <select id="select_form_ticket_vehiculo" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Proveedor</label>
                <select id="select_form_ticket_proveedor" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-12 mb-2">
                <label for="texttarea_form_ticket_observaciones" class="form-label">Observaciones</label>
                <textarea class="form-control" id="texttarea_form_ticket_observaciones"  rows="2"></textarea>
            </div>
            <div class="col-12">
                <div class="row">
                   <div class="col-12 mb-2">
                       <h6 class="mb-3">Lista de pesos del ticket</h6>
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">TIPO PESO</th>
                              <th scope="col">PESO</th>
                              <th scope="col">PESO CONTA</th>
                              <th scope="col">% CONTA</th>
                              <th scope="col">KG TOTAL</th>
                              <th scope="col">EDIT</th>
                              <th scope="col">DEL</th>
                            </tr>
                          </thead>
                          <tbody id="body_table_form_ticket_peso">
                            <tr>
                              <th scope="row">1</th>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>@mdo</td>
                            </tr>
                          </tbody>
                       </table> 
                   </div>
                </div>
            </div>
            <div class="col-2 mb-2">
                <button class="btn btn-success" onclick="actualizarTicket()" id="boton_form_ticket">Actualizar</button>
             </div>
             <div class="col-2 mb-2">
                <button class="btn btn-danger" onclick="eliminarTicket()" id="boton_form_ticket_eliminar">Eliminar</button>
             </div>
             <div class="col-2 mb-2">
                <button class="btn btn-info" onclick="reimpresion()" id="boton_form_ticket_reemprimir">Reemprimir</button>
             </div>
        </div>
        <div class="row d-none bg-light p-3" id="form_peso">
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Id Peso</label>
                <input type="text" class="form-control" id="input_form_peso_id_peso" placeholder="Id Peso" aria-label="Id Peso" disabled>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Tipo de peso</label>
                <select onchange="desbloquearConfi()" id="select_form_peso_tipo_peso" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="ENTRADA">ENTRADA</option>
                    <option value="SALIDA">SALIDA</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Forma de recepcion</label>
                <select id="select_form_peso_forma_recepcion" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="ENTRADA">ENTRADA</option>
                    <option value="SALIDA">SALIDA</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Peso</label>
                <input type="text" class="form-control" id="input_form_peso_peso" placeholder="Peso" aria-label="Peso">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Peso contaminacion</label>
                <input type="text" class="form-control" id="input_form_peso_contaminacion" placeholder="Peso contaminacion" aria-label="Peso contaminacion">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Porcentaje de contaminacion</label>
                <input type="text" class="form-control" id="input_form_peso_porcentaje_contaminacion" placeholder="Porcentaje de contaminacion" aria-label="Porcentaje de contaminacion">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Peso total</label>
                <input type="text" class="form-control" id="input_form_peso_total" placeholder="Peso total" aria-label="Peso total">
            </div> <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">fecha y hora del peso</label>
                <input type="datetime-local" class="form-control" id="input_form_peso_fecha" placeholder="Fecha y hora del peso" aria-label="Fecha y hora del peso">
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Linea</label>
                <select class="form-select" onchange="llenarSelectProceso()" id="select_form_peso_linea" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Proceso</label>
                <select class="form-select" id="select_form_peso_proceso" onchange="llenarSelectMaterial()" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Material</label>
                <select class="form-select" id="select_form_peso_material" onchange="llenarSelectTipoMaterial()" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-6 mb-2">
                <label for="inputEmail4" class="form-label">Tipo de Material</label>
                <select class="form-select" id="select_form_peso_tipo_material" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
            <div class="col-12 mb-2">
                <div class="input-group mt-3">
                    <select class="form-select" id="select_form_peso_contaminacion" aria-label="Example select with button addon">
                        
                    </select>
                    <button class="btn btn-outline-secondary" id="boton_form_peso_contaminacion" type="button" onclick="agregarContaminacion()">Agregar</button>
                  </div>
            </div>
            <div class="col-12 mb-2">
               <div class="list-group" id="lista_form_peso_contaminaciones">
                   <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        A list item
                        <span class="badge bg-primary rounded-pill">-</span>
                      </li>
                   </a>
               </div>
            </div>
            <div class="col-2 mb-2">
               <button class="btn btn-success" id="boton_form_peso" onclick="actualizarPeso()">Actualizar</button>
            </div>
            <div class="col-2 mb-2">
                <button class="btn btn-warning" id="boton_form_peso_retroceder" onclick="htmlUpdateTicket()">Retroceder</button>
             </div>

        </div>
        <div class="row d-none bg-light p-3" id="seccion_table">

        </div>
    </div>
    <script src="./paneladmin.js"></script>
</body>

</html>